{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nosotros{% endblock %}

{% block content %}
        <!-- Nosotros -->

        <div class="container">
            <div class="card">
                <img class="card-img-top tamaño" src="{% static 'core/img/p8.jpg' %}" alt="">
                <div class="card-body">
                    <div class="card-title font-weight-bold centrar"><h1>Nosotros</h1></div>
                        <div class="card-text">
                            <div class="parrafo" >
                                Mi nombre es Jesus José.
                                Soy Licenciado en Negocios Internacionales asesor en importaciones, fundador de mi propia empresa, tengoconocimientos en comercio exterior, aduanas y logistica.
                            </div>
                            

                        </div>
                        
                </div>
            </div>

        </div>
{% endblock %}
