{% extends 'core/base.html' %}
{% load static %}
{% block title %}Preguntas Frecuentes{% endblock %}


{% block content %}
        <!-- PREGUNTAS FRECUENTES-->

        <div class="container">
            <div class="card">
                <img class="card-img-top tamaño" src="{% static 'core/img/p14.jpg' %}" alt="">
                <div class="card-body">
                    <div class="card-title font-weight-bold centrar">PREGUNTAS FRECUENTES</div>
                        <div class="card-text parrafo">
                            
                            <div class="parrafo-negrita">¿Que productos puedo importar?</div>
                                <div class="parrafo-color">
                                    Puedes importar cualquier producto que no sea restringuido ni prohibido por la autoridad aduanera,
                                </div>

                            <br><div class="parrafo-negrita">¿Cuanto debo pagar en impuestos?</div>
                                <div  class="parrafo-color">
                                    Los impuestos que se pagan en la importacion son el igv que equivale al 18% del valor del valor en aduanas, la percepcion que que un valor que varia dependiendo del regimen y la estado del importador                                    
                                </div>


                            <br><div class="parrafo-negrita">¿Como evitar pagar impuestos?</div>
                                <div  class="parrafo-color">
                                    La unica manera de evitar pagar menos impuestos es a traves de los mecanismos que el propio estado nos da, la cual es que las compras valoradas en menos de 200 USD no pagan impuestos.
                                    No aconsejamos presentar facturas falsas ya que te puedes meter en graves problemas con la autoridad aduanera (SUNAT)
                                </div>

                            <br><div class="parrafo-negrita">¿Cuanto igv debo pagar?</div>
                                <div  class="parrafo-color">
                                    El igv se calcula en base al valor en aduanas
                                </div>

                            <br><div class="parrafo-negrita">¿Que requisitos necesito para importar?</div>
                                <div  class="parrafo-color">
                                    Si solo vas a importar pequeñas cantidades menores a 200 USD, solo es necesario tu DNI
                                </div>


                            
                        </div>
                </div>
            </div>

        </div>

{% endblock %}


        

