body{
    background-color: #f1f1f1!important;
}
*{
    box-sizing: border-box;

}
#navbar{
    background-color: #000 !important;
    color: #fff !important;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

}

div ul li >a{
    color: #fff !important ;
}
.titulo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;

}

.blog{
    display: flex;
    flex-direction: column;
}

/* .entrys{
    margin-top: 10px;
}

.sidebar{
    margin-top: 10px;
    margin-bottom: 10px;

} */
.tamaño{
    height: 300px;
}

.titulo-sidebar{
    background-color: #000 !important;
    color: #fff !important;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: bold;

}

.etiquetas:hover{
    
    background-color: grey;
    text-transform: uppercase;
    color: #f1f1f1;
    font-weight: 600;
    margin-left: auto;
    padding-left: 20px;
    text-decoration: none;
}
.cuerpo{
    margin-left: 20px;
}
.link{
    display: block;
}
a{
    color: #000;
}
.boton{
    margin-left: 160px;
}

#colorFooter{
    background-color: #000;
    color: #fff;
    /* height: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 800;

}

@media screen and (min-width:768px){
    
    .tamaño{
        height: 300px;
    }
    .blog{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;
        /* margin-top: 10px; */
        /* margin-bottom: 10px; */

    }
    .entrys{
        width: 65%;
        margin-right: 40px;

    }

    .sidebar{
        width: 35%;
    }

    .boton{
        margin-left: 600px;
    }

    #colorFooter{
        background-color: #000;
        color: #fff;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
    
    }
   
} 